PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string (or local: mongodb://localhost:27017/foodshare)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/foodshare

# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=10
